.container-fluid{
  padding-left: 50;

}

.navbar-form .form-control{
  width: 65px;
  padding: 9px
}

#timerdisplay{
  border: 2px solid white;
  padding: 6px;
  height: 2em;
  transform: translate(0%, 20%)
}

#carousel {
  width: 1100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:  100px;
  width: 100%;
}
#carousel div {
text-align: center;
font-size: 48px;
color: white;

}

.slick-prev:before, .slick-next:before {
color:    silver;
}
.panel {
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

body{
  font: 18px italic;
  font-family: 'Raleway', sans-serif;
  background-color: #D3F5FF
}

.homecontainer{
  margin-top: 100px;
}

#loginContainer{
  margin-top: 150px;
  padding-left: 25%;
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

#registerContainer{
  margin-top: 150px;
  padding-left: 25%;
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

#newContainer{
  margin-top: 100px;
}

#profileContainer{
  margin-top: 100px;
}

/*
#errorusername{
  color: red;
}

#errorpassword{
  color: red;
}
*/

#errorfound{
  color: red;
}

.inline-p{
  display: inline;
}

.inline-pp{
  display: inline-block;
  vertical-align: middle;
}

.gamepic{
  border: 2px solid black;
}

.smalllabel{
  font-size: 65%;
}

.navbar{
  background-color: #040E2B;
  transition: all 0.45s;
  opacity: 0.75;
  filter: alpha(opacity=50);
}


#relaxxtitle{
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 20px;
  color: white;
  text-shadow:
      2px 2px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
      1px 1px 0 #000;
  background: url(/images/LogoBackground.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#homeImage{
  width: 1100px;
  height:400px;
  margin-left: auto;
  margin-right: auto;
  background: url(/images/mountains.jpg);
  background-size: cover;
}
#relaxxContainer{
  width: 500px;
  height:100px;
  background: url(/images/paintingPage.jpg);
  background-size: cover;
}
#videoContainer{
  margin-top: 75px;
  margin-bottom: 50px;
}

#musicContainer{
  margin-top: 75px;
  margin-bottom: 50px;
}

#gamesContainer{
  margin-top: 75px;
  margin-bottom: 50px;
}

.margingames{
  margin-bottom: 25px;
}

.youtubemusiccontainer{
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
}

.youtubemusic{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btntag{
  margin-bottom: 5px;
  background-color: #ececec;
  border-color: #a0a0a0;
}

.btntag:hover{
  background-color: #62BFF0;
  border-color: #a0a0a0;
}

/*
.modal
{
display: none;
position: fixed;
z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
*/
